.hourly-weather-container{
    width:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly-weather-cards-container{
    display:flex;
    column-gap: 28px;
    justify-content: center;
    margin-bottom:20px;
}

.hour-card-container{
    background-color: #040A44;
    padding:10px 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.hour-card-time{
    color:#93b4de;
}

.hour-card-temp{
    color:white;
    font-size:25px;
    font-weight: 600;
}